<div class="main">
  <h1>Thiago Lira 242631  | Joao 243199</h1>

  <input class="lg-text-input" #campoNovoItem 
         (keydown.enter)="CREATE_tarefa(campoNovoItem.value); campoNovoItem.value=''" />


  <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value); campoNovoItem.value=''">
    Adicionar Tarefa
  </button>

  <ul>
    <li *ngFor="let tarefaDoLoop of arrayDeTarefas">
      <app-item [tarefa]="tarefaDoLoop" (Remover)="DELETE_tarefa(tarefaDoLoop)" (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"></app-item>
    </li>
  </ul>
</div>
